body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#gameConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 670px;
    width: 600px;
    background-color: #bc1a12;
    border: 3px solid #080808;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);  

    
}

#controls {
    display: flex;
    gap: 50px;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 40px;
    border: 2px solid #080808;
    background-color: #d3d3d3;
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background-color: #9c9b9b;
    transition: background-color 0.5s;
    
}

#etchContainer {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 20px;
    padding: 0,
}   